@import 'nib'
outline(color = #fff, outline = #000)
  color color
  text-shadow 1px 0 0 outline, 0 -1px 0 outline, 0 1px 0 outline, -1px 0 0 outline





titleheight = 75px

//Control boxes must be hidden at all times
.{controller}, .{selector}
  display none

//Define over all width
#{container}
  min-width 500px
  width 100%
  relative top left
  a
    &:link
      color #1a980c
    &:visited
      color #3a6669
    &:hover
      color #0c1698
    &:active
      color #980c58

//Contains title boxes and information
#{maingroup}
  width inherit

  > div
    relative top left

//Make things (labels) behave like divs
.{divy}
  display block

//Title box and children
.{title}
  width 100%
  border-radius 15px
  height titleheight
  background linear-gradient(bottom left, #e1ffff 0%, #e1ffff 7%, #e1ffff 12%, #fdffff 12%, #e6f8fd 30%, #c8eefb 54%, #bee4f8 75%, #b1d8f5 100%)
  outline(#000,#fff)

  //Change background on hover
  &:hover
    background linear-gradient(bottom left, #3b679e 0%, #2b88d9 22%, #2ecbea 47%, #207cca 63%, #7db9e8 100%)

  //Change background on active
  &:active
    background linear-gradient(bottom left, #3f4c6b 0%,#79cecb 30%,#5b609b 100%)

  //Style child that contains content
  > div
    margin 20px
    text-align center
    font-size 30
    line-height titleheight

//Quick info box styling
.{quick}
  width 15%
  absolute top titleheight right 5%
  max-height 0px
  overflow hidden
  box-sizing border-box
  z-index 10
  transition max-height 1s
  background linear-gradient(top, #ff1a00 0%, #ad2b00 5%, #fc6c6a 11%, #ff1a00 53%, #ff1a00 100%)

  border-radius bottom 10px

  &:hover
    max-height titleheight*3
    border-width 4px

  .{title}:hover+&
    max-height titleheight*3

  > div
    margin 15px
    text-align left
    font-size 12
    outline(yellow)

    a
      text-shadow none

//Long info box styling
.{long}
  width 80%
  relative top left 10%
  max-height 0px
  overflow hidden
  z-index 9
  transition max-height 2s, border-width 1s
  text-align left
  font-size 12
  background linear-gradient(bottom left, #b8c6df 0%, #6d88b7 100%)

  border-radius bottom 15px
  border-style solid
  border-top-style hidden
  border-color black
  border-width 0px
  border-top-width 0px

  .{controller}:checked+&
    max-height 500px
    border-width 4px

  > div
    margin 20px
    text-align left
    font-size 12
    //outline(#000,#fff)





#{hashtagstats}
  margin-top 10px
  margin-left 20px
  margin-bottom 15px

  &:target
    fixed top left
    width 100%
    height 100%
    line-height 100%
    text-align center
    background-color black
    z-index 20
    margin 0
    padding 0
    color #ffcc00

.{jutsulist}
  margin-top 10px
  margin-left 20px
  margin-bottom 15px














// File folder styles


tabset = {
  height: 20px,
  borderthickness: 5px
}
tabgroupset = {
  width: 95px,
}
filetitleset = {
  height: 50px,
  margintop: 30px,
  marginbottom: 10px
}



.{filefolder}
  width 100%
  margin-bottom 500px
  relative top left

.{filetitle}
  width 100%
  border-radius 20px
  background-color black
  color white
  text-align center
  overflow-x visible
  relative top left
  font-size 20px
  height: filetitleset.height
  line-height: filetitleset.height
  margin-top: filetitleset.margintop
  margin-bottom: filetitleset.marginbottom

.{tabgroup}
  absolute: top (filetitleset.height + filetitleset.marginbottom) left (- tabgroupset.width - 5px)
  width: tabgroupset.width

.{tab}
  width 100%
  height: tabset.height
  border-radius 20px 0px 0px 20px
  background-color #494949
  outline()
  border-top: tabset.borderthickness solid #adc4c7
  border-left: tabset.borderthickness solid #adc4c7
  text-align right
  padding-right 10px

.{filegroup}
  relative top left
  width 100%

.{filecontainer}
  relative top left
  width 100%
  height: tabset.height
  overflow-y visible
  z-index 2
  border-bottom: tabset.borderthickness solid #adc4c7

  .{selector}:checked+&
    z-index 4
    width 95%

.{file}
  width 100%
  height 500px
  overflow hidden
  border-radius 0px 15px 10px 10px
  background linear-gradient(bottom left, #222422 0%, #000200 12%, #444844 100%)
  border 5px solid #adc4c7
  outline()

  > div
    margin 5px
    width calc(100% - 10px)
    height calc(100% - 10px)
    overflow auto

.{faceclaimimage}
  max-height 490px
