- let skills = information.general.skills
if skills[0].name
  div
    each skill,i in skills 
      //-a(href=skill.link title=skill.info||'')= skill.name
      =`[url=http://naruto-role-play-rpg.forumotion.com${skill.link}]${skill.name}[/url]`
      br
